.nav{
    background-color: #1C2B35;
    display: flex;
    justify-content: space-between;
    padding: 0px 7%;
    height: 80px;
    max-width: 100%;
    align-items: center;
    position: fixed;
    top: 0%;
    bottom: 0%;
    right: 0%;
    left: 0%;
    width: 88%;  
    z-index: 1;
}
.nav img{
    height: 40px;
}